 body {
       /*background: -webkit-linear-gradient(bottom, #53d7f8, #86def8);*/
       background-size: cover;
       background-image: url('img/11.jpg');
       
}
#card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 500px;
    margin: 6rem auto 8.1rem auto;
    width: 340px;
}
#card1 {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 580px;
  margin: 6rem auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
.underline-title {
  background: -webkit-linear-gradient(right, #e7ae63, #e7ae63);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}
a {
text-decoration: none;
}
label {
font-family: "Raleway", sans-serif;
font-size: 11pt;
}
#forgot-pass {
color: #2fbadd;
font-family: "Raleway", sans-serif;
font-size: 10pt;
margin-top: 3px;
text-align: right;
}
.form {
align-items: left;
display: flex;
flex-direction: column;
}
.form-border {
background: -webkit-linear-gradient(right, #e7ae63, #e7ae63);
height: 1px;
width: 100%;
}
.form-content {
background: #fbfbfb;
border: none;
outline: none;
padding-top: 14px;
}
#signup {
color: #2fbadd;
font-family: "Raleway", sans-serif;
font-size: 10pt;
margin-top: 16px;
text-align: center;
}
#submit-btn {
background: -webkit-linear-gradient(right, #e7ae63, #e7ae63);
border: none;
border-radius: 21px;
box-shadow: 0px 1px 8px #e7ae63;
cursor: pointer;
color: rgb(255, 255, 255);
font-family: "Raleway SemiBold", sans-serif;
height: 42.3px;
margin: 0 auto;
margin-top: 50px;
transition: 0.25s;
width: 153px;
}
#submit-btn:hover {
box-shadow: 0px 1px 18px #2fbadd;
}